@import './variable.scss';

.logoContainer{
    margin-left: 20px;
    // float: left;
    font-family: $logoFontFamily;
}

@media(max-width:900px){
    .logoContainer{
        text-align: center;
    }
}