@import './variable.scss';

.navContainer{
    background-color: $navBarBackgroundColor;
    display: flex;
    align-items: center;
}

@media(max-width:900px){
    .navContainer{
        display: block;
    }
}