@import './variable.scss';

.navigationItems{
    margin-left: 20px;
    padding: 16px;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    font-size: 20px;
}
@media(max-width:900px){
    .navigationItems{
        flex-flow: column;
    }
}